<div class="topnav" id="myTopnav">
    <a href="/">Number</a>
    <a href="/staff-members">Staff Members</a><!--fake shirts placeholder for now-->
    <a href="/all-shirts">Staff Members</a><!--all shirts-->

    <a href="/contact">Contact</a>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  
  
  <script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  </script>
  