/////////////////////////////////////

$background-color-default : #00ff00 ;
/////////////////////////////////////
$border-color-default: green ;



/////////////////////////////////////
$page-min-width : 0px ;
/////////////////////////////////////

/////////////////////////////////////

$debug-background-color : red ;
/////////////////////////////////////
$foreground-color : black ;
$debug-foreground-color : purple ;
/////////////////////////////////////


$active-link-color : red ;
/////////////////////////////////////

$grid-gap : 10px ;
$mobile-grid-gap : 18px ;





///////////////////////////////////// BB BREAKPOINTS
///////////////////////////////////// BB BREAKPOINTS
///////////////////////////////////// BB BREAKPOINTS
$mobile-max-breakpoint : 800px ;
$middle-breakpoint : 1230px ;
///////////////////////////////////// EE BREAKPOINTS
///////////////////////////////////// EE BREAKPOINTS
///////////////////////////////////// EE BREAKPOINTS