---
--- 

/////// to do: alot of this can just
/////// be entered in "_layouts/shopify-buybutton-template.html" 





///////////////////////////////////////////////// BBB imports
@import '_sass/variables';
///////////////////////////////////////////////// EEE imports
  ////
    ////
      ////
/////////////////////////////////////
.shopify-buy-frame{  
    background: green !important;
}
.shopify-buy__frame{  
    background: purple !important;
}
.shopify-buy-cart-wrapper{
    background: orange !important;
}
.shopify-buy__cart {
    background-color: red !important;
}
.shopify-buy__cart__header {
    background-color:#00ff00 !important;
}
.shopify-buy-cart-wrapper.shopify-buy-frame.shopify-buy-frame--cart.is-active.is-visible.is-initialized {
    background-color: red !important;
}
/////////////////////////////////////

.is-sticky.shopify-buy__cart-toggle{
    border:3px solid blue;
}
/////////////////////////////////////
  ////
    ////
      ////
/////////////////////////////////////
.shopify-buy-frame.shopify-buy-frame--toggle.is-sticky.is-active{
    border:3px solid red;
    position: fixed;
    top: 90px;
}
/////////////////////////////////////
